h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
    color: #000;
    background-color: rgb(63,171,251);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(63,171,251);
background: radial-gradient(circle, rgba(63,171,251,0.829059829059829) 0%, rgba(70,251,252,0.7264957264957265) 100%);
}


#game-container{
    margin: 20px auto;
    width: 80%;
}

#jeopardy-table{
    width: 100%;
    border-collapse: collapse;
}

#jeopardy-table th, #jeopardy-table td{
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #0047ab;
    color: white;
    font-size: 20px;
}

#jeopardy-table th{
    background-color: #003366;
    font-size: 24px;
}

.category-row {
    display: table-row;
}

.category-cell {
    display: table-cell;
    padding: 20px;
    border: 1px solid #000;
    background-color: #0047ab;
    color: white;
    text-align: center;
    cursor: pointer;
}

#question-display {
    margin: 20px auto;
    font-size: 24px;
    text-align: center;
}

#show-answer {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d4af37;
    color: white;
    border: none; cursor: pointer;
}