<<<<<<< HEAD
#game-board, #question{
    display: none;
}

#main-menu{
    text-align: center;
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
=======
#jeopardy-board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.category, .question{
    padding: 20px;
    text-align: center;
    background-color: aqua;
    color: whitesmoke;
    font-size: 1.2em;
>>>>>>> parent of a20d4c8 (Update html css and js)
    cursor: pointer;
}
